{% extends 'base.html' %}
{% block content %}
   <div class="card-body">

       <form class="form" role="form" action="" method="post"> {% csrf_token %}
           <header class="h2 text-uppercase">Create Enquiry</header>
           <div class="row">
               <div class="col-sm-6">
                   <div class="form-group required">
                       <label class='control-label'>Student Name</label>
                       {{ form.student_name}}
                   </div>
                   <label class='control-label'>Address</label>
                   {{ form.address}}
                   <div class="form-group required">
                       <label class='control-label'>Contact Number</label>
                       {{ form.contact}}
                   </div>
                   <label class='control-label'>Email</label>
                   {{ form.email}}
               </div>
               <div class="col-sm-6">
                   <label class='control-label'>College Name</label>
                   {{ form.college}}
                   <br>
                   <label class='control-label'>Qualification</label>
                   {{ form.qualification}}

                   <div class="row">
                       <div class="col-sm-6">
                           <div class="form-group required">
                               <label class='control-label'>Select Course</label>
                               {{ form.course}}
                           </div>
                       </div>
                       <div class="col-sm-6">
                           <div class="form-group required">
                               <label class='control-label'>Select Batch</label>
                               {{ form.batch_code}}
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-sm-6">
                           <div class="form-group required">
                               <label class='control-label'>Enquiry Date</label>
                               <br>
                               {{ form.enquiry_date}}
                           </div>
                       </div>
                       <div class="col-sm-6">
                           <div class="form-group required">
                               <label class='control-label'>Followup Date</label>
                               <br>
                               {{ form.followup_date}}
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-sm-6">
                           <div class="form-group required">
                               <label class='control-label'>Status</label>
                               {{ form.status}}
                           </div>
                       </div>
                       <div class="col-sm-6">
                           <div class="form-group required">
                               <label class='control-label'>Counsellor Name</label>
                               {{ form.counsellor_name}}
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="row">
               <div class="col-sm-6">
                   <div class="form-group">
                       <label>Note</label>
                       {{ form.notes}}
                   </div>
               </div>
               <div class="col-sm-6">
                   <div class="form-group">
                       <label>Source</label>
                       {{ form.source}}
                   </div>
               </div>
           </div>
           <hr>
           <div class="row">
               <div class="col-sm-12">
                   <div class="card-actionbar-row text-right my-1">
                       <input type="submit" class="btn btn-success ink-reaction" value="SUBMIT">
                       <input type=button class="btn btn-outline-warning" value="Back" onClick="javascript:history.go(-1);">
                       <a href="{%url 'index'%}" class="btn btn-outline-primary ink-reaction">Back to Dashboard</a>
                   </div>
               </div>
           </div>
       </form>
   </div>
{%endblock%}