{% extends 'base.html' %}
{% block content %}
<div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample1">
                    <h6 class="m-0 font-weight-bold text-primary">Add New Course</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardExample1">
                    <div class="card-body">
                        <form method="post">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group required">
                                        <label for="id_course_name" class='control-label'>Course Name</label>
                                        {{ form.course_name}}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group required">
                                        <label for="id_course_duration" class='control-label'>Course Duration</label>
                                        {{ form.course_duration}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 text-right">
                                <input type="submit" class="btn btn-success" value="Add Course" id="one"style="margin-top: 30px;">
                                <a href="" class="btn btn-danger" id="two"style="margin-top: 30px;">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="card shadow mb-4">
            <a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample2">
                    <h6 class="m-0 font-weight-bold text-primary">All Courses</h6>
                </a>
            <div class="collapse show" id="collapseCardExample2">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Course Name</th>
                                <th>Duration</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in courses %}
                                <tr>
                                    <td>{{course.id}}</td>
                                    <td>{{course.course_name}}</td>
                                    <td>{{course.course_duration}}</td>
                                    <th><a href="{% url 'courseupdate' course.id %}" class="btn btn-warning fa fa-edit btn-circle"></a>
                                    <a href="{% url 'deletecourse' course.id %}" class="btn btn-danger fa fa-window-close btn-circle"></a></th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="col-sm-12 text-right">
                        <input type=button class="btn btn-outline-warning" value="Back" onClick="javascript:history.go(-1);">
                        <a href="{%url 'index'%}" class="btn btn-outline-primary ink-reaction" id="four">Back To Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>

{%endblock%}