{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-2"></div>
        <div class="col-md-8">
            <div style="border: solid">
                <div class="mx-2 my-2">
            <table class="table">
                <div class="my-4" align="center">

                    <h4 class="mx-0 font-weight-bold text-success">RECEIPT</h4>
                    <h1 class="font-weight-bold">XYZ Institute</h1>
                    <h4>Kakkanad, Ernakulam, 682021</h4>
                    <h6 class="float-left">info@xyz.com</h6><span>9567327832</span><span class="float-right">www.xyz.com</span>
                    <hr>
                </div>
                <thead>
                <tr>
                    <th class="table-primary">Name</th>
                    <td class="table-info">{{name}}</td>
                </tr>
                <tr>
                    <th class="table-primary">Admission No</th>
                    <td class="table-info">{{info.admission_no}}</td>
                </tr>
                <tr>
                    <th class="table-primary">Batch</th>
                    <td class="table-info">{{info.batch_code}}</td>
                </tr>
                <tr>
                    <th class="table-primary">Course Fees</th>
                    <td class="table-info">{{info.course_fee}}</td>
                </tr>
                </thead>
            </table>

            <table class="table">
                <thead class="table-primary">
                    <tr>
                        <th>Payment date</th>
                        <th> Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-success">
                    {% for item in payinfo %}
                        <tr>
                            <td>{{item.payment_date}}</td>
                            <td>{{item.amount}}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
                <thead class="thead-dark">
                <tr>
                    <th>Remaining fees:</th>
                    <td class="table-danger">{{rem_fees}}</td>
                    <td class="table-danger">{{msg}}</td>
                </tr>
                </thead>
            </table>
                </div>
        </div>
        <div class="row">
           <div class="form-group">
               {% if note %}
                    <p class="my-2 mx-3">Notes:</p>
                    <li class="mx-3">{{note}}</li>
               {% endif %}
           </div>
        </div>
        <div class="text-center my-3">
            <input type=button class="btn btn-outline-warning" value="Back" onClick="javascript:history.go(-1);">
            <a href="{%url 'index'%}" class="btn btn-outline-primary">Back to Dashboard</a>
        </div>
            </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}